/* font-family: 'Playfair Display',serif; */

/* font-family: 'Roboto',sans-serif; */

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto',
    sans-serif;
  color: #1a1a1a;
}

.section-padding {
  padding: 100px 60px 0px 60px;
}

/* header start */
.header {
  background-color: #ffffff;
}

.logo {

  margin: auto;
  width: 140px;
}

.menu {
  justify-content: center;
}

.menu li a {
  font-family: 'Roboto',
    sans-serif;
  color: #000 !important;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
}

/* header end */
/* banner start */
.carousel-item-custom {
  padding: 150px 0;
  text-align: center;
}

.carousel-item1 {
  background-image: url(img/banner-img-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel-item2 {
  background-image: url(img/banner-img-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



.slide_content-1 {

  color: #ffffff;
}

.slide_content h1 {
  font-family: 'Playfair Display',
    serif;
  text-transform: uppercase;
}

.slide_content-1 p {
  font-family: 'Roboto',
    sans-serif;
}

.banner_btn {
  margin-top: 40px;
}

.banner_btn a {
  font-family: 'Roboto',
    sans-serif;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  background-color: #fcb322;
  padding: 7px 16px;
  border: 2px solid #fcb322;
  transition: .3s;
}

.banner_btn a:hover {
  color: #fcb322;
  background-color: #ffffff;
}

.slide_content-2 {

  color: #000;
}

.slide_content-2 h1 {
  font-family: 'Playfair Display',
    serif;
}


/* banner end */
.go_down {
  position: relative;
  top: -70px;
}

.go_down a {
  text-align: center;
  display: block;
}

.go_down a img {
  cursor: pointer;
  animation: go-up-down 2.5s infinite 0s;
}

@keyframes go-up-down {
  0% {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0.1;
  }

  100% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1;
  }
}